mixin menu(className)
  -
    var menu = [
        {
          title: "Мои работы",
          link: "works"
        },
        {
          title: "Обо мне",
          link: "about"
        },
        {
          title: "Блог",
          link: "blog"
        },
        {
          title: "Авторизация",
          link: "index"
        }
      ];

  nav(class=`${className}`)
    ul(class=`${className}-list`)
      each item in menu
        li(class=`${className}-item`)
          a(class=`${className}-link`, href=item.link) #{item.title}
