extends ../_template

block variables
  - 
    var contacts = [
      {
        href: "skype:pilot297",
        text: "pilot297",
        icon: "img/sprite.svg#icon-skype_n"
      },
      {
        href: "mailto:andrey-tm203@mail.ru",
        text: "andrey-tm203@mail.ru",
        icon: "img/sprite.svg#icon-envelope_n"
      },
      {
        href: "tel:+79213288085",
        text: "+7 921 328 80 85",
        icon: "img/sprite.svg#icon-phone_n"
      },
      {
        text: "г. Гатчина",
        icon: "img/sprite.svg#icon-map_n"
      }
    ];

    var page = {
      title: "Обо мне"
    };
    var skillTypes = skills.reduce(function(acc, skill) {
      if (!acc.includes(skill.type)) {
        acc.push(skill.type);
      }

      return acc;
    }, []);

block content
  include ../common/hero
  +hero(page)
  main.page-main
    section.about
      h1.visually-hidden Об Андрее Иванове
      include ../common/triangles
      +triangles("about__triangles")
      .about__items
        article.about__item.about__item--description
          .about__wrapper.about__wrapper--description
            h2.about__title.title Обо мне
            .about__content
              figure.about__picture
                picture
                  source(media="(min-width: 768px)", srcset="img/me-tablet@1x.jpg 1x, img/me-tablet@2x.jpg 2x")
                  img.about__image(src="img/me-mobile@1x.jpg", srcset="img/me-mobile@2x.jpg 2x", alt="Андрей Иванов")
              h2.about__item-title.title--small.title--underlined Кто я
              .about__item-text
                p Я веб разработчик из города Гатчина, Ленинградская область. Мне 32 года. Я занимаюсь разработкой современных сайтов и приложений.
                  |Мне нравится делать интересные и современные проекты. 
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования 
                  |LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        article.about__item.about__item--skills
          .about__wrapper.about__wrapper--text
            h2.about__item-title.title--small.title--underlined Чем я могу быть вам полезен
            .about__item-text
              p Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте 
                |по порядку.
          div.about-item__skills.skills
            .about__wrapper.about__wrapper--skills
              each skillType in skillTypes
                div.skills__item
                  h3.skills__title #{skillType}
                  ul.skills__list
                    each skill in skills
                      if (skill.type === skillType)
                        li.skills__list-item.skill
                          span.skill__title #{skill.name}
                          svg.skill__circle.circles(viewBox="0 0 110 110", width="110", height="110")
                            circle.circle__first.circle(r="45", cx="50%", cy="50%", fill="none")
                            circle(class=`circle__second circle circle-${skill.perc}`, r="45", cx="50%", cy="50%")
    section.contacts
      .contacts__box
        .contacts__box-wrapper
          h2.contacts__title.title.title--underlined Контакты
          ul.contacts__list
            each item in contacts
              li.contacts__item
                if item.href
                  a.contacts__link(href=`${item.href}`)
                    svg.contacts__icon(fill="#0548be", width="34", height="34")
                      use(xlink:href=`${item.icon}`)
                    |#{item.text}
                else
                  a.contacts__link
                    svg.contacts__icon(fill="#0548be", width="34", height="34")
                      use(xlink:href=`${item.icon}`)
                    |#{item.text}
      iframe.contacts__map(src="https://snazzymaps.com/embed/36445", height="515", style="border:none;")
  include ../common/footer
  +footer('about-footer')
  include ../common/preloader
