extends ../_template

block variables
  - 
    var page = {
      title: "Блог",
      text: "Статьи, которые я написал"
    };

block content
  include ../common/hero
  +hero(page)
  main.page-main.blog-main
    section.blog
      h1.visually-hidden Блог
      include ../common/triangles
      +triangles("blog__triangles")
      .blog__content
        .blog__menu.blog__menu--closed
          ul.blog__menu-list
            each item in articles
              li.blog__menu-item
                a.blog__menu-link(href=`#${item.name}`) #{item.title}
          button.blog__menu-button
            span.visually-hidden Меню блога
        .container.blog__wrapper
          if (articles)
            each item in articles
              article.blog__item
                h2 
                  a(id=`${item.name}`) #{item.title}
                time(datetime=`${item.datetime}`) #{item.date}
                p #{item.text}
  include ../common/footer
  +footer('blog-footer')
  include ../common/preloader
