extends ../_template

block variables
  - 
    var title = "Мой блог";
    var page = {
      title: "Блог",
      text: "Статьи, которые я написал"
    };

    var articles = [
      {
        title: "Самое важное в SASS",
        date: {
          date: "17 декабря 2017",
          datetime: "2017-12-17"
        },
        text: [
          "Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.",
          "Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям."
        ],
        img: "img/blog-desktop@1x.jpg",
        name: "sass"
      },
      {
        title: "Приёмы в вёрстке, без которых не обходится ни один сайт",
        date: {
          date: "17 декабря 2017",
          datetime: "2017-12-17"
        },
        text: [
          "Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.",
          "Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям"
        ],
        name: "tricks"
      }
    ];

block content
  include ../common/hero
  +hero(page)
  main.page-main.blog-main
    section.blog
      h1.visually-hidden Блог
      include ../common/triangles
      +triangles("blog__triangles")
      .blog__content
        .blog__menu.blog__menu--closed
          ul.blog__menu-list
            each item in articles
              li.blog__menu-item
                a.blog__menu-link(href=`#${item.name}`) #{item.title}
          button.blog__menu-button
            span.visually-hidden Меню блога
        .container.blog__wrapper
          each item in articles
            article.blog__item
              h2 
                a(id=`${item.name}`) #{item.title}
              time(datetime=`${item.date.datetime}`) #{item.date.date}
              each part in item.text
                p #{part}
              if item.img
                figure
                  img(src=`${item.img}`, alt="blog illustration", width="716", height="104")
  include ../common/footer
  +footer('blog-footer')
  include ../common/preloader
